* text=auto !eol
/README -text
esql/esqlOC/esqlOC.cpp -text
esql/esqlOC/esqlOC.vcproj -text
esql/esqlOC/vcache.cpp -text
esql/esqlOC/vcache.h -text
esql/ocsql/ocsql.vcproj -text
esql/ocsql/ocsql2.cpp -text
esql/open-cobol-sql.sln -text
samples/HelloWorld/Makefile -text
samples/HelloWorld/README -text
samples/HelloWorld/bigworld.cob -text
samples/HelloWorld/hello.cob -text
samples/altkey/altkey.cob -text
samples/altkey/readme.txt -text
samples/boxdraw/boxdraw.cob -text
samples/boxdraw/readme.txt -text
samples/cgiupload/cgiupload.cob -text
samples/cgiupload/cygwin_apache_start.sh -text
samples/cgiupload/cygwin_apache_stop.sh -text
samples/cgiupload/cygwin_compile.sh -text
samples/cgiupload/readme.txt -text
samples/cgiupload/upload1.html -text
samples/cgiupload/upload2.html -text
samples/cgiupload/upload3.html -text
samples/cgiupload/upload4.html -text
samples/cgiupload/upload5.html -text
samples/cgiupload/upload6.html -text
samples/cgiupload/upload7.html -text
samples/cgiupload/win_compile.bat -text
samples/cobdes/cobdes.cob -text
samples/cobdes/testdes.cob -text
samples/colours/gnucobol-colours.cob -text
samples/games/2048/2048-GAME.COB -text
samples/games/star_trek/ctrek.cob -text
samples/games/wumpus/dodecahedron.jpeg -text svneol=unset#image/jpeg
samples/games/wumpus/readme.txt -text
samples/games/wumpus/wumpus.cob -text
samples/prime_machine/prime_machine.cob -text
samples/prime_machine/prime_machine2.cob -text
samples/week-day/README -text
samples/week-day/week-day-85.cob -text
samples/week-day/week-day.cob -text
samples/worldcities/COPYING -text
samples/worldcities/Davenport.kml -text
samples/worldcities/Detroit.kml -text
samples/worldcities/LosAngeles.kml -text
samples/worldcities/NewYork.kml -text
samples/worldcities/Paris.kml -text
samples/worldcities/README -text
samples/worldcities/Vienna.kml -text
samples/worldcities/all.sh -text
samples/worldcities/checkfilestatus.cpy -text
samples/worldcities/commonroutines.cbl -text
samples/worldcities/createcommandfiles.sh -text
samples/worldcities/printrunreport.cbl -text
samples/worldcities/sqlca.cbl -text
samples/worldcities/worldcities0.cbl -text
samples/worldcities/worldcities0.sh -text
samples/worldcities/worldcities1.cbl -text
samples/worldcities/worldcities1.sh -text
samples/worldcities/worldcities2.cbl -text
samples/worldcities/worldcities2.sh -text
samples/worldcities/worldcities3.cbl -text
samples/worldcities/worldcities3.sh -text
samples/worldcities/worldcities4.cbl -text
samples/worldcities/worldcities4.sh -text
samples/worldcities/worldcities5.cbl -text
samples/worldcities/worldcities5.sh -text
samples/worldcities/worldcities6.cbl -text
samples/worldcities/worldcities6.sh -text
samples/worldcities/worldcities7.cbl -text
samples/worldcities/worldcities7.sh -text
samples/worldcities/worldcities8.cbl -text
samples/worldcities/worldcities8.sh -text
tools/OCic/FileStat-Msgs.cpy -text
tools/OCic/OCic.cbl -text
tools/OCic/OpenCOBOL-1.1-06FEB2009-OCic.pdf -text
tools/changeformat/COPYING -text
tools/changeformat/README -text
tools/changeformat/changeformat.cbl -text
tools/changeformat/compileall -text
tools/cobjapi/doc/manual.pdf -text
tools/cobjapi/doc/readme.txt -text
tools/cobjapi/doc/refeng.pdf -text
tools/cobjapi/doc/refger.pdf -text
tools/cobjapi/examples/colorpicker/readme.txt -text
tools/cobjapi/examples/digits/Makefile -text
tools/cobjapi/examples/digits/cobjapi.cpy -text
tools/cobjapi/examples/digits/cobjapifn.cpy -text
tools/cobjapi/examples/digits/digits.cob -text
tools/cobjapi/examples/digits/screenshots/digits.jpg -text
tools/cobjapi/examples/digits/win_compile_digits.bat -text
tools/cobjapi/examples/drawables/readme.txt -text
tools/cobjapi/examples/imageviewer/readme.txt -text
tools/cobjapi/examples/mandelbrot/readme.txt -text
tools/cobjapi/examples/texteditor/Makefile -text
tools/cobjapi/examples/texteditor/cobjapi.cpy -text
tools/cobjapi/examples/texteditor/cobjapifn.cpy -text
tools/cobjapi/examples/texteditor/screenshots/texteditor.jpg -text
tools/cobjapi/examples/texteditor/texteditor.cob -text
tools/cobjapi/examples/texteditor/win_compile_texteditor.bat -text
tools/cobjapi/examples/video/Makefile -text
tools/cobjapi/examples/video/cobjapi.cpy -text
tools/cobjapi/examples/video/cobjapifn.cpy -text
tools/cobjapi/examples/video/images/ms01.gif -text
tools/cobjapi/examples/video/images/ms02.gif -text
tools/cobjapi/examples/video/images/ms03.gif -text
tools/cobjapi/examples/video/images/ms04.gif -text
tools/cobjapi/examples/video/images/ms05.gif -text
tools/cobjapi/examples/video/images/ms06.gif -text
tools/cobjapi/examples/video/images/ms07.gif -text
tools/cobjapi/examples/video/images/ms08.gif -text
tools/cobjapi/examples/video/images/ms09.gif -text
tools/cobjapi/examples/video/images/ms10.gif -text
tools/cobjapi/examples/video/images/ms11.gif -text
tools/cobjapi/examples/video/images/ms12.gif -text
tools/cobjapi/examples/video/images/ms13.gif -text
tools/cobjapi/examples/video/images/ms14.gif -text
tools/cobjapi/examples/video/images/ms15.gif -text
tools/cobjapi/examples/video/images/ms16.gif -text
tools/cobjapi/examples/video/images/ms17.gif -text
tools/cobjapi/examples/video/images/ms18.gif -text
tools/cobjapi/examples/video/screenshots/video.jpg -text
tools/cobjapi/examples/video/sounds/ping.au -text
tools/cobjapi/examples/video/video.cob -text
tools/cobjapi/examples/video/win_compile_video.bat -text
tools/cobjapi/examples_simple/Makefile -text
tools/cobjapi/examples_simple/alert.cob -text
tools/cobjapi/examples_simple/borderlayout.cob -text
tools/cobjapi/examples_simple/borderpanel.cob -text
tools/cobjapi/examples_simple/button.cob -text
tools/cobjapi/examples_simple/canvas.cob -text
tools/cobjapi/examples_simple/checkbox.cob -text
tools/cobjapi/examples_simple/choice.cob -text
tools/cobjapi/examples_simple/cobjapi.cpy -text
tools/cobjapi/examples_simple/colors.cob -text
tools/cobjapi/examples_simple/colors1.cob -text
tools/cobjapi/examples_simple/componentlistener.cob -text
tools/cobjapi/examples_simple/cursor.cob -text
tools/cobjapi/examples_simple/daemon.cob -text
tools/cobjapi/examples_simple/dialog.cob -text
tools/cobjapi/examples_simple/dialogmodal.cob -text
tools/cobjapi/examples_simple/filedialog.cob -text
tools/cobjapi/examples_simple/flowlayout.cob -text
tools/cobjapi/examples_simple/flowsimple.cob -text
tools/cobjapi/examples_simple/focuslistener.cob -text
tools/cobjapi/examples_simple/font.cob -text
tools/cobjapi/examples_simple/frame.cob -text
tools/cobjapi/examples_simple/graphic.cob -text
tools/cobjapi/examples_simple/graphicbutton.cob -text
tools/cobjapi/examples_simple/graphiclabel.cob -text
tools/cobjapi/examples_simple/gridlayout.cob -text
tools/cobjapi/examples_simple/image.cob -text
tools/cobjapi/examples_simple/images/copy.gif -text
tools/cobjapi/examples_simple/images/cut.gif -text
tools/cobjapi/examples_simple/images/mandel.gif -text
tools/cobjapi/examples_simple/images/new.gif -text
tools/cobjapi/examples_simple/images/open.gif -text
tools/cobjapi/examples_simple/images/paste.gif -text
tools/cobjapi/examples_simple/images/save.gif -text
tools/cobjapi/examples_simple/insets.cob -text
tools/cobjapi/examples_simple/keylistener.cob -text
tools/cobjapi/examples_simple/label.cob -text
tools/cobjapi/examples_simple/lines.cob -text
tools/cobjapi/examples_simple/list.cob -text
tools/cobjapi/examples_simple/listmultiple.cob -text
tools/cobjapi/examples_simple/menu.cob -text
tools/cobjapi/examples_simple/mousebuttons.cob -text
tools/cobjapi/examples_simple/mouselistener.cob -text
tools/cobjapi/examples_simple/panel.cob -text
tools/cobjapi/examples_simple/popupmenu.cob -text
tools/cobjapi/examples_simple/print.cob -text
tools/cobjapi/examples_simple/radiobutton.cob -text
tools/cobjapi/examples_simple/rubberband.cob -text
tools/cobjapi/examples_simple/scaledimage.cob -text
tools/cobjapi/examples_simple/screenshots/alert.jpg -text
tools/cobjapi/examples_simple/screenshots/borderlayout.jpg -text
tools/cobjapi/examples_simple/screenshots/borderpanel.jpg -text
tools/cobjapi/examples_simple/screenshots/button.jpg -text
tools/cobjapi/examples_simple/screenshots/canvas.jpg -text
tools/cobjapi/examples_simple/screenshots/checkbox.jpg -text
tools/cobjapi/examples_simple/screenshots/choice.jpg -text
tools/cobjapi/examples_simple/screenshots/colors.jpg -text
tools/cobjapi/examples_simple/screenshots/colors1.jpg -text
tools/cobjapi/examples_simple/screenshots/componentlistener.jpg -text
tools/cobjapi/examples_simple/screenshots/cursor.jpg -text
tools/cobjapi/examples_simple/screenshots/daemon.jpg -text
tools/cobjapi/examples_simple/screenshots/dialog.jpg -text
tools/cobjapi/examples_simple/screenshots/dialogmodal.jpg -text
tools/cobjapi/examples_simple/screenshots/filedialog.jpg -text
tools/cobjapi/examples_simple/screenshots/flowlayout.jpg -text
tools/cobjapi/examples_simple/screenshots/flowsimple.jpg -text
tools/cobjapi/examples_simple/screenshots/focuslistener.jpg -text
tools/cobjapi/examples_simple/screenshots/font.jpg -text
tools/cobjapi/examples_simple/screenshots/frame.jpg -text
tools/cobjapi/examples_simple/screenshots/graphic.jpg -text
tools/cobjapi/examples_simple/screenshots/graphicbutton.jpg -text
tools/cobjapi/examples_simple/screenshots/graphiclabel.jpg -text
tools/cobjapi/examples_simple/screenshots/gridlayout.jpg -text
tools/cobjapi/examples_simple/screenshots/image.jpg -text
tools/cobjapi/examples_simple/screenshots/insets.jpg -text
tools/cobjapi/examples_simple/screenshots/keylistener.jpg -text
tools/cobjapi/examples_simple/screenshots/label.jpg -text
tools/cobjapi/examples_simple/screenshots/lines.jpg -text
tools/cobjapi/examples_simple/screenshots/list.jpg -text
tools/cobjapi/examples_simple/screenshots/listmultiple.jpg -text
tools/cobjapi/examples_simple/screenshots/menu.jpg -text
tools/cobjapi/examples_simple/screenshots/mousebuttons.jpg -text
tools/cobjapi/examples_simple/screenshots/mouselistener.jpg -text
tools/cobjapi/examples_simple/screenshots/panel.jpg -text
tools/cobjapi/examples_simple/screenshots/popupmenu.jpg -text
tools/cobjapi/examples_simple/screenshots/print.jpg -text
tools/cobjapi/examples_simple/screenshots/radiobutton.jpg -text
tools/cobjapi/examples_simple/screenshots/rubberband.jpg -text
tools/cobjapi/examples_simple/screenshots/scaledimage.jpg -text
tools/cobjapi/examples_simple/screenshots/scrollbar.jpg -text
tools/cobjapi/examples_simple/screenshots/scrollpane.jpg -text
tools/cobjapi/examples_simple/screenshots/simple.jpg -text
tools/cobjapi/examples_simple/screenshots/simplemenu.jpg -text
tools/cobjapi/examples_simple/screenshots/textfield.jpg -text
tools/cobjapi/examples_simple/screenshots/vumeter.jpg -text
tools/cobjapi/examples_simple/screenshots/window.jpg -text
tools/cobjapi/examples_simple/screenshots/windowlistener.jpg -text
tools/cobjapi/examples_simple/scrollbar.cob -text
tools/cobjapi/examples_simple/scrollpane.cob -text
tools/cobjapi/examples_simple/simple.cob -text
tools/cobjapi/examples_simple/simplemenu.cob -text
tools/cobjapi/examples_simple/textfield.cob -text
tools/cobjapi/examples_simple/vumeter.cob -text
tools/cobjapi/examples_simple/win_compile_examples_simple.bat -text
tools/cobjapi/examples_simple/window.cob -text
tools/cobjapi/examples_simple/windowlistener.cob -text
tools/cobjapi/readme.txt -text
tools/cobjapi/src_c/Makefile -text
tools/cobjapi/src_c/fileselect.c -text
tools/cobjapi/src_c/imageio.c -text
tools/cobjapi/src_c/japi.h -text
tools/cobjapi/src_c/japi_p.h -text
tools/cobjapi/src_c/japilib.c -text
tools/cobjapi/src_c/win_compile_src_c.bat -text
tools/cobjapi/src_cobol/Makefile -text
tools/cobjapi/src_cobol/cobjapi.cob -text
tools/cobjapi/src_cobol/cobjapi.cpy -text
tools/cobjapi/src_cobol/cobjapifn.cpy -text
tools/cobjapi/src_cobol/win_compile_src_cobol.bat -text
tools/cobjapi/src_java/JAPI.java -text
tools/cobjapi/src_java/JAPI.mf -text
tools/cobjapi/src_java/JAPI_Actionlistener.java -text
tools/cobjapi/src_java/JAPI_Adjustmentlistener.java -text
tools/cobjapi/src_java/JAPI_Alert.java -text
tools/cobjapi/src_java/JAPI_Button.java -text
tools/cobjapi/src_java/JAPI_Calls.java -text
tools/cobjapi/src_java/JAPI_Canvas.java -text
tools/cobjapi/src_java/JAPI_Checkbox.java -text
tools/cobjapi/src_java/JAPI_Choice.java -text
tools/cobjapi/src_java/JAPI_Componentlistener.java -text
tools/cobjapi/src_java/JAPI_Const.java -text
tools/cobjapi/src_java/JAPI_Debugwindow.java -text
tools/cobjapi/src_java/JAPI_Dialog.java -text
tools/cobjapi/src_java/JAPI_Errordialog.java -text
tools/cobjapi/src_java/JAPI_Fixlayout.java -text
tools/cobjapi/src_java/JAPI_Focuslistener.java -text
tools/cobjapi/src_java/JAPI_Frame.java -text
tools/cobjapi/src_java/JAPI_Graphicbutton.java -text
tools/cobjapi/src_java/JAPI_Graphiclabel.java -text
tools/cobjapi/src_java/JAPI_HFlowlayout.java -text
tools/cobjapi/src_java/JAPI_Itemlistener.java -text
tools/cobjapi/src_java/JAPI_Keylistener.java -text
tools/cobjapi/src_java/JAPI_Label.java -text
tools/cobjapi/src_java/JAPI_Led.java -text
tools/cobjapi/src_java/JAPI_List.java -text
tools/cobjapi/src_java/JAPI_Menu.java -text
tools/cobjapi/src_java/JAPI_Menubar.java -text
tools/cobjapi/src_java/JAPI_Meter.java -text
tools/cobjapi/src_java/JAPI_Mouselistener.java -text
tools/cobjapi/src_java/JAPI_Mousemotionlistener.java -text
tools/cobjapi/src_java/JAPI_MultiLineLabel.java -text
tools/cobjapi/src_java/JAPI_Panel.java -text
tools/cobjapi/src_java/JAPI_Progressbar.java -text
tools/cobjapi/src_java/JAPI_Radiobutton.java -text
tools/cobjapi/src_java/JAPI_Radiogroup.java -text
tools/cobjapi/src_java/JAPI_Ruler.java -text
tools/cobjapi/src_java/JAPI_Sevensegment.java -text
tools/cobjapi/src_java/JAPI_SocketInputStream.java -text
tools/cobjapi/src_java/JAPI_SocketOutputStream.java -text
tools/cobjapi/src_java/JAPI_Textarea.java -text
tools/cobjapi/src_java/JAPI_Textfield.java -text
tools/cobjapi/src_java/JAPI_Textlistener.java -text
tools/cobjapi/src_java/JAPI_Thread.java -text
tools/cobjapi/src_java/JAPI_VFlowlayout.java -text
tools/cobjapi/src_java/JAPI_ValueComponent.java -text
tools/cobjapi/src_java/JAPI_Window.java -text
tools/cobjapi/src_java/JAPI_Windowlistener.java -text
tools/cobjapi/src_java/Makefile -text
tools/cobjapi/src_java/danger.gif -text
tools/cobjapi/src_java/question.gif -text
tools/cobjapi/src_java/win_compile_src_java.bat -text
tools/cobweb/cobodoc/AUTHORS -text
tools/cobweb/cobodoc/COPYING -text
tools/cobweb/cobodoc/ChangeLog -text
tools/cobweb/cobodoc/Contributions/robodoc.kaptn -text
tools/cobweb/cobodoc/Contributions/robodoc2pod.pl -text
tools/cobweb/cobodoc/Docs/cobodoc.rc -text
tools/cobweb/cobodoc/Docs/makefile.am -text
tools/cobweb/cobodoc/Docs/makefile.in -text
tools/cobweb/cobodoc/Docs/manual.css -text
tools/cobweb/cobodoc/Docs/manual.html -text svneol=unset#application/xml
tools/cobweb/cobodoc/Docs/robodoc.1.in -text
tools/cobweb/cobodoc/Docs/robodoc_example.rc -text
tools/cobweb/cobodoc/Docs/robohdrs.1.in -text
tools/cobweb/cobodoc/Examples/PerlExample/Source/Box.pm -text
tools/cobweb/cobodoc/Examples/PerlExample/Source/Box/RectangularBox.pm -text
tools/cobweb/cobodoc/Examples/PerlExample/Source/Box/SquareBox.pm -text
tools/cobweb/cobodoc/Examples/PerlExample/Source/Cargo.txt -text
tools/cobweb/cobodoc/Examples/PerlExample/Source/Loader.txt -text
tools/cobweb/cobodoc/Examples/PerlExample/Source/SmartLoader.pm -text
tools/cobweb/cobodoc/Examples/PerlExample/Source/TruckPacker.pl -text
tools/cobweb/cobodoc/Examples/PerlExample/robodoc.rc -text
tools/cobweb/cobodoc/INSTALL -text
tools/cobweb/cobodoc/INSTALL.Debian -text
tools/cobweb/cobodoc/INSTALL.cygwin -text
tools/cobweb/cobodoc/NEWS -text
tools/cobweb/cobodoc/README -text
tools/cobweb/cobodoc/Source/analyser.c -text
tools/cobweb/cobodoc/Source/analyser.h -text
tools/cobweb/cobodoc/Source/ascii_generator.c -text
tools/cobweb/cobodoc/Source/ascii_generator.h -text
tools/cobweb/cobodoc/Source/config.h.in -text
tools/cobweb/cobodoc/Source/directory.c -text
tools/cobweb/cobodoc/Source/directory.h -text
tools/cobweb/cobodoc/Source/document.c -text
tools/cobweb/cobodoc/Source/document.h -text
tools/cobweb/cobodoc/Source/file.c -text
tools/cobweb/cobodoc/Source/file.h -text
tools/cobweb/cobodoc/Source/generator.c -text
tools/cobweb/cobodoc/Source/generator.h -text
tools/cobweb/cobodoc/Source/globals.c -text
tools/cobweb/cobodoc/Source/globals.h -text
tools/cobweb/cobodoc/Source/headers.c -text
tools/cobweb/cobodoc/Source/headers.h -text
tools/cobweb/cobodoc/Source/headertypes.c -text
tools/cobweb/cobodoc/Source/headertypes.h -text
tools/cobweb/cobodoc/Source/html_generator.c -text
tools/cobweb/cobodoc/Source/html_generator.h -text
tools/cobweb/cobodoc/Source/items.c -text
tools/cobweb/cobodoc/Source/items.h -text
tools/cobweb/cobodoc/Source/latex_generator.c -text
tools/cobweb/cobodoc/Source/latex_generator.h -text
tools/cobweb/cobodoc/Source/links.c -text
tools/cobweb/cobodoc/Source/links.h -text
tools/cobweb/cobodoc/Source/lua_generator.c -text
tools/cobweb/cobodoc/Source/lua_generator.h -text
tools/cobweb/cobodoc/Source/makefile.am -text
tools/cobweb/cobodoc/Source/makefile.in -text
tools/cobweb/cobodoc/Source/makefile.mingw -text
tools/cobweb/cobodoc/Source/makefile.mingw-cygwin -text
tools/cobweb/cobodoc/Source/makefile.plain -text
tools/cobweb/cobodoc/Source/optioncheck.c -text
tools/cobweb/cobodoc/Source/optioncheck.h -text
tools/cobweb/cobodoc/Source/part.c -text
tools/cobweb/cobodoc/Source/part.h -text
tools/cobweb/cobodoc/Source/path.c -text
tools/cobweb/cobodoc/Source/path.h -text
tools/cobweb/cobodoc/Source/roboconfig.c -text
tools/cobweb/cobodoc/Source/roboconfig.h -text
tools/cobweb/cobodoc/Source/robodoc.c -text
tools/cobweb/cobodoc/Source/robodoc.h -text
tools/cobweb/cobodoc/Source/robohdrs.c -text
tools/cobweb/cobodoc/Source/rtf_generator.c -text
tools/cobweb/cobodoc/Source/rtf_generator.h -text
tools/cobweb/cobodoc/Source/test_generator.c -text
tools/cobweb/cobodoc/Source/test_generator.h -text
tools/cobweb/cobodoc/Source/troff_generator.c -text
tools/cobweb/cobodoc/Source/troff_generator.h -text
tools/cobweb/cobodoc/Source/util.c -text
tools/cobweb/cobodoc/Source/util.h -text
tools/cobweb/cobodoc/Source/xmldocbook_generator.c -text
tools/cobweb/cobodoc/Source/xmldocbook_generator.h -text
tools/cobweb/cobodoc/UPGRADE -text
tools/cobweb/cobodoc/Win32/robodoc.dsp -text
tools/cobweb/cobodoc/Win32/robodoc.dsw -text
tools/cobweb/cobodoc/Win32/robodoc.sln -text
tools/cobweb/cobodoc/Win32/robodoc.vcproj -text svneol=unset#application/xml
tools/cobweb/cobodoc/aclocal.m4 -text
tools/cobweb/cobodoc/config.guess -text
tools/cobweb/cobodoc/config.sub -text
tools/cobweb/cobodoc/configure -text
tools/cobweb/cobodoc/configure.in -text
tools/cobweb/cobodoc/depcomp -text
tools/cobweb/cobodoc/install-sh -text
tools/cobweb/cobodoc/makefile.am -text
tools/cobweb/cobodoc/makefile.in -text
tools/cobweb/cobodoc/missing -text
tools/cobweb/cobweb-gtk/AUTHORS -text
tools/cobweb/cobweb-gtk/COPYING -text
tools/cobweb/cobweb-gtk/ChangeLog -text
tools/cobweb/cobweb-gtk/INSTALL -text
tools/cobweb/cobweb-gtk/LICENSE -text
tools/cobweb/cobweb-gtk/Makefile -text
tools/cobweb/cobweb-gtk/NEWS -text
tools/cobweb/cobweb-gtk/README -text
tools/cobweb/cobweb-gtk/blue66.png -text svneol=unset#image/png
tools/cobweb/cobweb-gtk/cobodoc.css -text
tools/cobweb/cobweb-gtk/cobweb-gtk-widgets.cpy -text
tools/cobweb/cobweb-gtk/cobweb-gtk.cob -text
tools/cobweb/cobweb-gtk/cobweb-gtk.dot -text
tools/cobweb/cobweb-gtk/cobweb-gui-sample-data.txt -text
tools/cobweb/cobweb-gtk/cobweb-gui.cob -text
tools/cobweb/cobweb-gtk/cobweb-gui.dot -text
tools/cobweb/cobweb-gtk/cobweb-periodic.cob -text
tools/cobweb/cobweb-gtk/cobweb-sample.xml -text svneol=unset#application/xml
tools/cobweb/cobweb-gtk/colours-tui.cob -text
tools/cobweb/cobweb-gtk/elements.txt -text
tools/cobweb/cobweb-gtk/robocob.rc -text
tools/cobweb/cobweb-gtk/support-cobweb.cob -text
tools/cobweb/cobweb-gtk/voidcall_gtk.c -text
tools/cobweb/cobweb-gtk/white66.png -text svneol=unset#image/png
tools/cobxref/COPYING -text
tools/cobxref/Changelog -text
tools/cobxref/README -text
tools/cobxref/TODO -text
tools/cobxref/cobxref-1.01.15.zip -text
tools/cobxref/cobxref.cbl -text
tools/cobxref/cobxref.lst -text
tools/cobxref/comp-cobxref.sh eol=lf
tools/cobxref/get-reserved-lists.cbl -text
tools/cobxref/get-reserved-lists.lst -text
tools/dectrans/Changelog -text
tools/dectrans/TODO -text
tools/dectrans/dectrans -text
tools/dectrans/dectrans.cbl -text
tools/dectrans/dectrans.pdf -text
tools/dectrans/documentation[!!-~]license.odt -text
tools/dectrans/examples.zip -text
tools/dectrans/readme -text
tools/ocic-gui/OCiC-Mono.sln -text
tools/ocic-gui/OCiC-Mono/AssemblyInfo.cs -text
tools/ocic-gui/OCiC-Mono/Libraries/MessageBox.cs -text
tools/ocic-gui/OCiC-Mono/Libraries/Util.cs -text
tools/ocic-gui/OCiC-Mono/Main.cs -text
tools/ocic-gui/OCiC-Mono/MainWindow.cs -text
tools/ocic-gui/OCiC-Mono/OCiC-Mono.csproj -text
tools/ocic-gui/OCiC-Mono/gtk-gui/MainWindow.cs -text
tools/ocic-gui/OCiC-Mono/gtk-gui/generated.cs -text
tools/ocic-gui/OCiC-Mono/gtk-gui/gui.stetic -text
tools/ocic-gui/OCiC-Mono/oc-icon.png -text
tools/ocic-gui/oc-icon.png -text
tools/printcbl/Changelog -text
tools/printcbl/README -text
tools/printcbl/printcbl.cbl -text
tools/printcbl/printcbl.pdf -text
tools/printcbl/testpak1.zip -text
