* text=auto !eol
/README -text
esql/esqlOC/esqlOC.cpp -text
esql/esqlOC/esqlOC.vcproj -text
esql/esqlOC/vcache.cpp -text
esql/esqlOC/vcache.h -text
esql/ocsql/ocsql.vcproj -text
esql/ocsql/ocsql2.cpp -text
esql/open-cobol-sql.sln -text
samples/HelloWorld/Makefile -text
samples/HelloWorld/README -text
samples/HelloWorld/bigworld.cob -text
samples/HelloWorld/hello.cob -text
samples/altkey/altkey.cob -text
samples/altkey/readme.txt -text
samples/boxdraw/boxdraw.cob -text
samples/boxdraw/readme.txt -text
samples/cgiupload/cgiupload.cob -text
samples/cgiupload/cygwin_apache_start.sh -text
samples/cgiupload/cygwin_apache_stop.sh -text
samples/cgiupload/cygwin_compile.sh -text
samples/cgiupload/readme.txt -text
samples/cgiupload/upload1.html -text
samples/cgiupload/upload2.html -text
samples/cgiupload/upload3.html -text
samples/cgiupload/upload4.html -text
samples/cgiupload/upload5.html -text
samples/cgiupload/upload6.html -text
samples/cgiupload/upload7.html -text
samples/cgiupload/win_compile.bat -text
samples/cobdes/cobdes.cob -text
samples/cobdes/testdes.cob -text
samples/colours/gnucobol-colours.cob -text
samples/games/star_trek/ctrek.cob -text
samples/games/wumpus/dodecahedron.jpeg -text svneol=unset#image/jpeg
samples/games/wumpus/readme.txt -text
samples/games/wumpus/wumpus.cob -text
samples/prime_machine/prime_machine.cob -text
samples/prime_machine/prime_machine2.cob -text
samples/week-day/README -text
samples/week-day/week-day-85.cob -text
samples/week-day/week-day.cob -text
tools/changeformat/COPYING -text
tools/changeformat/README -text
tools/changeformat/changeformat.cbl -text
tools/changeformat/compileall -text
tools/cobweb/cobodoc/AUTHORS -text
tools/cobweb/cobodoc/COPYING -text
tools/cobweb/cobodoc/ChangeLog -text
tools/cobweb/cobodoc/Contributions/robodoc.kaptn -text
tools/cobweb/cobodoc/Contributions/robodoc2pod.pl -text
tools/cobweb/cobodoc/Docs/cobodoc.rc -text
tools/cobweb/cobodoc/Docs/makefile.am -text
tools/cobweb/cobodoc/Docs/makefile.in -text
tools/cobweb/cobodoc/Docs/manual.css -text
tools/cobweb/cobodoc/Docs/manual.html -text svneol=unset#application/xml
tools/cobweb/cobodoc/Docs/robodoc.1.in -text
tools/cobweb/cobodoc/Docs/robodoc_example.rc -text
tools/cobweb/cobodoc/Docs/robohdrs.1.in -text
tools/cobweb/cobodoc/Examples/PerlExample/Source/Box.pm -text
tools/cobweb/cobodoc/Examples/PerlExample/Source/Box/RectangularBox.pm -text
tools/cobweb/cobodoc/Examples/PerlExample/Source/Box/SquareBox.pm -text
tools/cobweb/cobodoc/Examples/PerlExample/Source/Cargo.txt -text
tools/cobweb/cobodoc/Examples/PerlExample/Source/Loader.txt -text
tools/cobweb/cobodoc/Examples/PerlExample/Source/SmartLoader.pm -text
tools/cobweb/cobodoc/Examples/PerlExample/Source/TruckPacker.pl -text
tools/cobweb/cobodoc/Examples/PerlExample/robodoc.rc -text
tools/cobweb/cobodoc/INSTALL -text
tools/cobweb/cobodoc/INSTALL.Debian -text
tools/cobweb/cobodoc/INSTALL.cygwin -text
tools/cobweb/cobodoc/NEWS -text
tools/cobweb/cobodoc/README -text
tools/cobweb/cobodoc/Source/analyser.c -text
tools/cobweb/cobodoc/Source/analyser.h -text
tools/cobweb/cobodoc/Source/ascii_generator.c -text
tools/cobweb/cobodoc/Source/ascii_generator.h -text
tools/cobweb/cobodoc/Source/config.h.in -text
tools/cobweb/cobodoc/Source/directory.c -text
tools/cobweb/cobodoc/Source/directory.h -text
tools/cobweb/cobodoc/Source/document.c -text
tools/cobweb/cobodoc/Source/document.h -text
tools/cobweb/cobodoc/Source/file.c -text
tools/cobweb/cobodoc/Source/file.h -text
tools/cobweb/cobodoc/Source/generator.c -text
tools/cobweb/cobodoc/Source/generator.h -text
tools/cobweb/cobodoc/Source/globals.c -text
tools/cobweb/cobodoc/Source/globals.h -text
tools/cobweb/cobodoc/Source/headers.c -text
tools/cobweb/cobodoc/Source/headers.h -text
tools/cobweb/cobodoc/Source/headertypes.c -text
tools/cobweb/cobodoc/Source/headertypes.h -text
tools/cobweb/cobodoc/Source/html_generator.c -text
tools/cobweb/cobodoc/Source/html_generator.h -text
tools/cobweb/cobodoc/Source/items.c -text
tools/cobweb/cobodoc/Source/items.h -text
tools/cobweb/cobodoc/Source/latex_generator.c -text
tools/cobweb/cobodoc/Source/latex_generator.h -text
tools/cobweb/cobodoc/Source/links.c -text
tools/cobweb/cobodoc/Source/links.h -text
tools/cobweb/cobodoc/Source/lua_generator.c -text
tools/cobweb/cobodoc/Source/lua_generator.h -text
tools/cobweb/cobodoc/Source/makefile.am -text
tools/cobweb/cobodoc/Source/makefile.in -text
tools/cobweb/cobodoc/Source/makefile.mingw -text
tools/cobweb/cobodoc/Source/makefile.mingw-cygwin -text
tools/cobweb/cobodoc/Source/makefile.plain -text
tools/cobweb/cobodoc/Source/optioncheck.c -text
tools/cobweb/cobodoc/Source/optioncheck.h -text
tools/cobweb/cobodoc/Source/part.c -text
tools/cobweb/cobodoc/Source/part.h -text
tools/cobweb/cobodoc/Source/path.c -text
tools/cobweb/cobodoc/Source/path.h -text
tools/cobweb/cobodoc/Source/roboconfig.c -text
tools/cobweb/cobodoc/Source/roboconfig.h -text
tools/cobweb/cobodoc/Source/robodoc.c -text
tools/cobweb/cobodoc/Source/robodoc.h -text
tools/cobweb/cobodoc/Source/robohdrs.c -text
tools/cobweb/cobodoc/Source/rtf_generator.c -text
tools/cobweb/cobodoc/Source/rtf_generator.h -text
tools/cobweb/cobodoc/Source/test_generator.c -text
tools/cobweb/cobodoc/Source/test_generator.h -text
tools/cobweb/cobodoc/Source/troff_generator.c -text
tools/cobweb/cobodoc/Source/troff_generator.h -text
tools/cobweb/cobodoc/Source/util.c -text
tools/cobweb/cobodoc/Source/util.h -text
tools/cobweb/cobodoc/Source/xmldocbook_generator.c -text
tools/cobweb/cobodoc/Source/xmldocbook_generator.h -text
tools/cobweb/cobodoc/UPGRADE -text
tools/cobweb/cobodoc/Win32/robodoc.dsp -text
tools/cobweb/cobodoc/Win32/robodoc.dsw -text
tools/cobweb/cobodoc/Win32/robodoc.sln -text
tools/cobweb/cobodoc/Win32/robodoc.vcproj -text svneol=unset#application/xml
tools/cobweb/cobodoc/aclocal.m4 -text
tools/cobweb/cobodoc/config.guess -text
tools/cobweb/cobodoc/config.sub -text
tools/cobweb/cobodoc/configure -text
tools/cobweb/cobodoc/configure.in -text
tools/cobweb/cobodoc/depcomp -text
tools/cobweb/cobodoc/install-sh -text
tools/cobweb/cobodoc/makefile.am -text
tools/cobweb/cobodoc/makefile.in -text
tools/cobweb/cobodoc/missing -text
tools/cobweb/cobweb-gtk/AUTHORS -text
tools/cobweb/cobweb-gtk/COPYING -text
tools/cobweb/cobweb-gtk/ChangeLog -text
tools/cobweb/cobweb-gtk/INSTALL -text
tools/cobweb/cobweb-gtk/LICENSE -text
tools/cobweb/cobweb-gtk/Makefile -text
tools/cobweb/cobweb-gtk/NEWS -text
tools/cobweb/cobweb-gtk/README -text
tools/cobweb/cobweb-gtk/blue66.png -text svneol=unset#image/png
tools/cobweb/cobweb-gtk/cobodoc.css -text
tools/cobweb/cobweb-gtk/cobweb-gtk-widgets.cpy -text
tools/cobweb/cobweb-gtk/cobweb-gtk.cob -text
tools/cobweb/cobweb-gtk/cobweb-gtk.dot -text
tools/cobweb/cobweb-gtk/cobweb-gui-sample-data.txt -text
tools/cobweb/cobweb-gtk/cobweb-gui.cob -text
tools/cobweb/cobweb-gtk/cobweb-gui.dot -text
tools/cobweb/cobweb-gtk/cobweb-periodic.cob -text
tools/cobweb/cobweb-gtk/cobweb-sample.xml -text svneol=unset#application/xml
tools/cobweb/cobweb-gtk/colours-tui.cob -text
tools/cobweb/cobweb-gtk/elements.txt -text
tools/cobweb/cobweb-gtk/robocob.rc -text
tools/cobweb/cobweb-gtk/support-cobweb.cob -text
tools/cobweb/cobweb-gtk/voidcall_gtk.c -text
tools/cobweb/cobweb-gtk/white66.png -text svneol=unset#image/png
tools/cobxref/COPYING -text
tools/cobxref/Changelog -text
tools/cobxref/README -text
tools/cobxref/TODO -text
tools/cobxref/cobxref-1.01.14.zip -text
tools/cobxref/cobxref.cbl -text
tools/cobxref/cobxref.lst -text
tools/cobxref/comp-cobxref.sh eol=lf
tools/cobxref/get-reserved-lists.cbl -text
tools/cobxref/get-reserved-lists.lst -text
tools/dectrans/Changelog -text
tools/dectrans/TODO -text
tools/dectrans/dectrans -text
tools/dectrans/dectrans.cbl -text
tools/dectrans/dectrans.pdf -text
tools/dectrans/documentation[!!-~]license.odt -text
tools/dectrans/examples.zip -text
tools/dectrans/readme -text
tools/ocic-gui/OCiC-Mono.sln -text
tools/ocic-gui/OCiC-Mono/AssemblyInfo.cs -text
tools/ocic-gui/OCiC-Mono/Libraries/MessageBox.cs -text
tools/ocic-gui/OCiC-Mono/Libraries/Util.cs -text
tools/ocic-gui/OCiC-Mono/Main.cs -text
tools/ocic-gui/OCiC-Mono/MainWindow.cs -text
tools/ocic-gui/OCiC-Mono/OCiC-Mono.csproj -text
tools/ocic-gui/OCiC-Mono/gtk-gui/MainWindow.cs -text
tools/ocic-gui/OCiC-Mono/gtk-gui/generated.cs -text
tools/ocic-gui/OCiC-Mono/gtk-gui/gui.stetic -text
tools/ocic-gui/OCiC-Mono/oc-icon.png -text
tools/ocic-gui/oc-icon.png -text
tools/printcbl/Changelog -text
tools/printcbl/printcbl.cbl -text
tools/printcbl/printcbl.pdf -text
tools/printcbl/testpak1.zip -text
