samples/*.c*
samples/*.dll
samples/*.exe
samples/*.exp
samples/*.i
samples/*.ilk
samples/*.lib
samples/*.lst
samples/*.manifest
samples/*.obj
samples/*.pdb
samples/*.sbr
samples/*.so
samples/HelloWorld/*.c*
samples/HelloWorld/*.dll
samples/HelloWorld/*.exe
samples/HelloWorld/*.exp
samples/HelloWorld/*.i
samples/HelloWorld/*.ilk
samples/HelloWorld/*.lib
samples/HelloWorld/*.lst
samples/HelloWorld/*.manifest
samples/HelloWorld/*.obj
samples/HelloWorld/*.pdb
samples/HelloWorld/*.sbr
samples/HelloWorld/*.so
samples/HelloWorld/bigworld
samples/HelloWorld/hello
samples/accept-keys/ask
samples/altkey/*.c*
samples/altkey/*.dll
samples/altkey/*.exe
samples/altkey/*.exp
samples/altkey/*.i
samples/altkey/*.ilk
samples/altkey/*.lib
samples/altkey/*.lst
samples/altkey/*.manifest
samples/altkey/*.obj
samples/altkey/*.pdb
samples/altkey/*.sbr
samples/altkey/*.so
samples/altkey/altkey
samples/altkey/iftest*
samples/boxdraw/*.c*
samples/boxdraw/*.dll
samples/boxdraw/*.exe
samples/boxdraw/*.exp
samples/boxdraw/*.i
samples/boxdraw/*.ilk
samples/boxdraw/*.lib
samples/boxdraw/*.lst
samples/boxdraw/*.manifest
samples/boxdraw/*.obj
samples/boxdraw/*.pdb
samples/boxdraw/*.sbr
samples/boxdraw/*.so
samples/boxdraw/boxdraw
samples/cobdes/*.c*
samples/cobdes/*.dll
samples/cobdes/*.exe
samples/cobdes/*.exp
samples/cobdes/*.i
samples/cobdes/*.ilk
samples/cobdes/*.lib
samples/cobdes/*.lst
samples/cobdes/*.manifest
samples/cobdes/*.obj
samples/cobdes/*.pdb
samples/cobdes/*.sbr
samples/cobdes/*.so
samples/cobdes/cobdes
samples/cobdes/testdes
samples/colours/*.c*
samples/colours/*.dll
samples/colours/*.exe
samples/colours/*.exp
samples/colours/*.i
samples/colours/*.ilk
samples/colours/*.lib
samples/colours/*.lst
samples/colours/*.manifest
samples/colours/*.obj
samples/colours/*.pdb
samples/colours/*.sbr
samples/colours/*.so
samples/colours/gnucobol-colours
samples/dasize/dasize
samples/games/*.c*
samples/games/*.dll
samples/games/*.exe
samples/games/*.exp
samples/games/*.i
samples/games/*.ilk
samples/games/*.lib
samples/games/*.lst
samples/games/*.manifest
samples/games/*.obj
samples/games/*.pdb
samples/games/*.sbr
samples/games/*.so
samples/games/2048/*.c*
samples/games/2048/*.dll
samples/games/2048/*.exe
samples/games/2048/*.exp
samples/games/2048/*.i
samples/games/2048/*.ilk
samples/games/2048/*.lib
samples/games/2048/*.lst
samples/games/2048/*.manifest
samples/games/2048/*.obj
samples/games/2048/*.pdb
samples/games/2048/*.sbr
samples/games/2048/*.so
samples/games/2048/2048-GAME
samples/games/star_trek/*.c*
samples/games/star_trek/*.dll
samples/games/star_trek/*.exe
samples/games/star_trek/*.exp
samples/games/star_trek/*.i
samples/games/star_trek/*.ilk
samples/games/star_trek/*.lib
samples/games/star_trek/*.lst
samples/games/star_trek/*.manifest
samples/games/star_trek/*.obj
samples/games/star_trek/*.pdb
samples/games/star_trek/*.sbr
samples/games/star_trek/*.so
samples/games/star_trek/ctrek
samples/games/wumpus/*.c*
samples/games/wumpus/*.dll
samples/games/wumpus/*.exe
samples/games/wumpus/*.exp
samples/games/wumpus/*.i
samples/games/wumpus/*.ilk
samples/games/wumpus/*.lib
samples/games/wumpus/*.lst
samples/games/wumpus/*.manifest
samples/games/wumpus/*.obj
samples/games/wumpus/*.pdb
samples/games/wumpus/*.sbr
samples/games/wumpus/*.so
samples/games/wumpus/wumpus
samples/prime_machine/*.c*
samples/prime_machine/*.dll
samples/prime_machine/*.exe
samples/prime_machine/*.exp
samples/prime_machine/*.i
samples/prime_machine/*.ilk
samples/prime_machine/*.lib
samples/prime_machine/*.lst
samples/prime_machine/*.manifest
samples/prime_machine/*.obj
samples/prime_machine/*.pdb
samples/prime_machine/*.sbr
samples/prime_machine/*.so
samples/prime_machine/prime_machine
samples/prime_machine/prime_machine2
samples/worldcities/*.c*
samples/worldcities/*.dll
samples/worldcities/*.exe
samples/worldcities/*.exp
samples/worldcities/*.i
samples/worldcities/*.ilk
samples/worldcities/*.lib
samples/worldcities/*.lst
samples/worldcities/*.manifest
samples/worldcities/*.obj
samples/worldcities/*.pdb
samples/worldcities/*.sbr
samples/worldcities/*.so
tools/cgi4cobol/*.dll
tools/cgi4cobol/*.exe
tools/cgi4cobol/*.exp
tools/cgi4cobol/*.i
tools/cgi4cobol/*.ilk
tools/cgi4cobol/*.lib
tools/cgi4cobol/*.lst
tools/cgi4cobol/*.manifest
tools/cgi4cobol/*.obj
tools/cgi4cobol/*.pdb
tools/cgi4cobol/*.sbr
tools/cgi4cobol/*.so
tools/cobweb/cobweb-pipes/*.c*
tools/cobweb/cobweb-pipes/*.dll
tools/cobweb/cobweb-pipes/*.exe
tools/cobweb/cobweb-pipes/*.exp
tools/cobweb/cobweb-pipes/*.i
tools/cobweb/cobweb-pipes/*.ilk
tools/cobweb/cobweb-pipes/*.lib
tools/cobweb/cobweb-pipes/*.lst
tools/cobweb/cobweb-pipes/*.manifest
tools/cobweb/cobweb-pipes/*.obj
tools/cobweb/cobweb-pipes/*.pdb
tools/cobweb/cobweb-pipes/*.sbr
tools/cobweb/cobweb-pipes/*.so
tools/cobxref/*.c*
tools/cobxref/*.dll
tools/cobxref/*.exe
tools/cobxref/*.exp
tools/cobxref/*.i
tools/cobxref/*.ilk
tools/cobxref/*.lib
tools/cobxref/*.lst
tools/cobxref/*.manifest
tools/cobxref/*.obj
tools/cobxref/*.pdb
tools/cobxref/*.sbr
tools/cobxref/*.so
tools/cobxref/cobxref
tools/ocic-gui/*.suo
tools/ocic-gui/*.userprefs
tools/ocic-gui/OCiC-Mono/bin
tools/ocic-gui/OCiC-Mono/obj
