samples/*.c*
samples/*.dll
samples/*.exe
samples/*.exp
samples/*.i
samples/*.ilk
samples/*.lib
samples/*.manifest
samples/*.obj
samples/*.pdb
samples/*.sbr
samples/*.so
samples/altkey/altkey
samples/boxdraw/*.c*
samples/boxdraw/*.dll
samples/boxdraw/*.exe
samples/boxdraw/*.exp
samples/boxdraw/*.i
samples/boxdraw/*.ilk
samples/boxdraw/*.lib
samples/boxdraw/*.manifest
samples/boxdraw/*.obj
samples/boxdraw/*.pdb
samples/boxdraw/*.sbr
samples/boxdraw/*.so
samples/boxdraw/boxdraw
samples/cobdes/*.c*
samples/cobdes/*.dll
samples/cobdes/*.exe
samples/cobdes/*.exp
samples/cobdes/*.i
samples/cobdes/*.ilk
samples/cobdes/*.lib
samples/cobdes/*.manifest
samples/cobdes/*.obj
samples/cobdes/*.pdb
samples/cobdes/*.sbr
samples/cobdes/*.so
samples/games/*.c*
samples/games/*.dll
samples/games/*.exe
samples/games/*.exp
samples/games/*.i
samples/games/*.ilk
samples/games/*.lib
samples/games/*.manifest
samples/games/*.obj
samples/games/*.pdb
samples/games/*.sbr
samples/games/*.so
samples/games/star_trek/*.c*
samples/games/star_trek/*.dll
samples/games/star_trek/*.exe
samples/games/star_trek/*.exp
samples/games/star_trek/*.i
samples/games/star_trek/*.ilk
samples/games/star_trek/*.lib
samples/games/star_trek/*.manifest
samples/games/star_trek/*.obj
samples/games/star_trek/*.pdb
samples/games/star_trek/*.sbr
samples/games/star_trek/*.so
samples/games/wumpus/*.c*
samples/games/wumpus/*.dll
samples/games/wumpus/*.exe
samples/games/wumpus/*.exp
samples/games/wumpus/*.i
samples/games/wumpus/*.ilk
samples/games/wumpus/*.lib
samples/games/wumpus/*.manifest
samples/games/wumpus/*.obj
samples/games/wumpus/*.pdb
samples/games/wumpus/*.sbr
samples/games/wumpus/*.so
samples/worldcities/*.c*
samples/worldcities/*.dll
samples/worldcities/*.exe
samples/worldcities/*.exp
samples/worldcities/*.i
samples/worldcities/*.ilk
samples/worldcities/*.lib
samples/worldcities/*.manifest
samples/worldcities/*.obj
samples/worldcities/*.pdb
samples/worldcities/*.sbr
samples/worldcities/*.so
tools/cobxref/*.c*
tools/cobxref/*.dll
tools/cobxref/*.exe
tools/cobxref/*.exp
tools/cobxref/*.i
tools/cobxref/*.ilk
tools/cobxref/*.lib
tools/cobxref/*.lst
tools/cobxref/*.manifest
tools/cobxref/*.obj
tools/cobxref/*.pdb
tools/cobxref/*.sbr
tools/cobxref/*.so
tools/cobxref/cobxref
tools/ocic-gui/*.suo
tools/ocic-gui/*.userprefs
tools/ocic-gui/OCiC-Mono/bin
tools/ocic-gui/OCiC-Mono/obj
