samples/*.c*
samples/*.dll
samples/*.exe
samples/*.exp
samples/*.i
samples/*.ilk
samples/*.lib
samples/*.manifest
samples/*.obj
samples/*.pdb
samples/*.sbr
samples/*.so
samples/games/*.c*
samples/games/*.dll
samples/games/*.exe
samples/games/*.exp
samples/games/*.i
samples/games/*.ilk
samples/games/*.lib
samples/games/*.manifest
samples/games/*.obj
samples/games/*.pdb
samples/games/*.sbr
samples/games/*.so
samples/games/wumpus/*.c*
samples/games/wumpus/*.dll
samples/games/wumpus/*.exe
samples/games/wumpus/*.exp
samples/games/wumpus/*.i
samples/games/wumpus/*.ilk
samples/games/wumpus/*.lib
samples/games/wumpus/*.manifest
samples/games/wumpus/*.obj
samples/games/wumpus/*.pdb
samples/games/wumpus/*.sbr
samples/games/wumpus/*.so
samples/worldcities/*-file
samples/worldcities/*.c*
samples/worldcities/*.dll
samples/worldcities/*.exe
samples/worldcities/*.exp
samples/worldcities/*.i
samples/worldcities/*.ilk
samples/worldcities/*.lib
samples/worldcities/*.manifest
samples/worldcities/*.obj
samples/worldcities/*.pdb
samples/worldcities/*.sbr
samples/worldcities/*.so
samples/worldcities/*.txt
tools/ocic-gui/*.suo
tools/ocic-gui/*.userprefs
tools/ocic-gui/OCiC-Mono/bin
tools/ocic-gui/OCiC-Mono/obj
