* text=auto !eol
/README -text
ocic-gui/OCiC-Mono.sln -text
ocic-gui/OCiC-Mono.userprefs -text
ocic-gui/OCiC-Mono/AssemblyInfo.cs -text
ocic-gui/OCiC-Mono/Libraries/MessageBox.cs -text
ocic-gui/OCiC-Mono/Libraries/Util.cs -text
ocic-gui/OCiC-Mono/Main.cs -text
ocic-gui/OCiC-Mono/MainWindow.cs -text
ocic-gui/OCiC-Mono/OCiC-Mono.csproj -text
ocic-gui/OCiC-Mono/bin/Debug/OCiC-Mono.exe -text
ocic-gui/OCiC-Mono/bin/Debug/OCiC-Mono.pdb -text
ocic-gui/OCiC-Mono/bin/Debug/oc-icon.png -text
ocic-gui/OCiC-Mono/gtk-gui/MainWindow.cs -text
ocic-gui/OCiC-Mono/gtk-gui/generated.cs -text
ocic-gui/OCiC-Mono/gtk-gui/gui.stetic -text
ocic-gui/OCiC-Mono/oc-icon.png -text
ocic-gui/oc-icon.png -text
